<div class="topindex_slidegame">
	<div class="topindex_slidegamewrapper">
		<div class="topindex_slidegamecontent">
			<ul class="topindex_slideul" id="slideul">
				<li>
					<a href="http://tcym.kedou.com/" target="_blank">
						<img class="fixie_border_img" src="http://youxires.woyouxi.net/adv/topwebgame/tiancaiyinmu.png" alt="天才樱木来了" width="48px" height="48px">
					</a>
				</li>
				<li>
					<a href="http://zw.kedou.com/" target="_blank">
						<img class="fixie_border_img" src="http://youxires.woyouxi.net/adv/topwebgame/zwdzjs.png" alt="植物大战僵尸OL" width="48px" height="48px">
					</a>
				</li>
				<li>
					<a href="http://11.kedou.com/" target="_blank">
						<img class="fixie_border_img" src="http://youxires.woyouxi.net/adv/topwebgame/shenli11.png" alt="胜利11人" width="48px" height="48px">
					</a>
				</li>
				<li>
					<a href="http://mt.kedou.com/" target="_blank">
						<img class="fixie_border_img" src="http://youxires.woyouxi.net/adv/topwebgame/eyuemosou.png" alt="热血魔兽" width="48px" height="48px">
					</a>
				</li>
				<li>
					<a href="http://rz.kedou.com/" target="_blank">
						<img class="fixie_border_img" src="http://youxires.woyouxi.net/adv/topwebgame/renzhejifeng.png" alt="忍者疾风传" width="48px" height="48px">
					</a>
				</li>
				<li>
					<a href="http://t.kedou.com/" target="_blank">
						<img class="fixie_border_img" src="http://youxires.woyouxi.net/adv/topwebgame/touch.png" alt="touch" width="48px" height="48px">
					</a>
				</li>
				<li>
					<a href="http://zqjl.kedou.com/" target="_blank">
						<img class="fixie_border_img" src="http://youxires.woyouxi.net/adv/topwebgame/gjzqjl.png" alt="冠军足球经理" width="48px" height="48px">
					</a>
				</li>
				<li>
					<a href="http://og.kedou.com/" target="_blank">
						<img class="fixie_border_img" src="http://youxires.woyouxi.net/adv/topwebgame/ogzq.png" alt="欧冠足球" width="48px" height="48px">
					</a>
				</li>
				<li>
					<a href="http://zl.swjoy.com/" target="_blank">
						<img class="fixie_border_img" src="http://youxires.woyouxi.net/adv/topwebgame/zlsg.png" alt="真龙三国" width="48px" height="48px">
					</a>
				</li>
				<li>
					<a href="http://rx.kedou.com/" target="_blank">
						<img class="fixie_border_img" src="http://youxires.woyouxi.net/adv/topwebgame/exnq.png" alt="热血篮球" width="48px" height="48px">
					</a>
				</li>
				<div style="clear:both;"></div>
			</ul>
		</div>
	</div>	
	<div class="topindex_slidetoleft" onclick="slideToLeft();"></div>
	<div class="topindex_slidetoright" onclick="slideToRight();"></div>
</div>
